---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getAllTaxonomy, getTaxonomy } from "@/lib/taxonomyParser.astro";
import PageHeader from "@/partials/PageHeader.astro";
import BlogList from "../../layouts/components/BlogList.astro";

const { blog_folder }: { blog_folder: string } = config.settings;
const tags = await getTaxonomy(blog_folder, "tags");
const allTags = await getAllTaxonomy(blog_folder, "tags");
---

<Base title={"Tags"}>
  <PageHeader title={"Tags"} isShowBreadcrumbs={"no"}/>
  <section class="section">
    <div class="container text-center">
      <div class="row">
        <BlogList currentPosts={allTags}/>
      </div>
    </div>
  </section>
</Base>
